<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

<body class="register-body">
    <%- include("../partials/header")%>

    <main class="registrarse">
        <form action="/register" method="post">

            <h1>Registrarse</h1>

            <p class="p4">Completá los siguientes datos para registrarte como usuario</p>

            <div class="nomape">

                <input type="name" name="name" id="name" value="" placeholder="nombre">

                <input type="name" name="apellido" id="apellido" value="" placeholder="apellido">

            </div>

            <div class="email">
                <input type="email" name="email" value="" placeholder="e-mail">
            </div>

            <div class="data">

                <div class="contrep">
                    <input class="contr" type="password" name="contrasenia" value="" placeholder="contraseña">

                    <input class="repc" type="password" name="repetir contrasenia" value=""
                        placeholder="repetir contraseña">

                </div>

                <div class="normas">
                    <ul>
                        <li> <i class="fa-solid fa-circle-xmark"></i>
                            <p>8 a 15 caracteres</p>
                        </li>

                        <li> <i class="fa-solid fa-circle-xmark"></i>
                            <p>Al menos una mayúscula</p>
                        </li>

                        <li> <i class="fa-solid fa-circle-xmark"></i>
                            <p>Al menos un número</p>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="button">
                <button type="submit"><a href="/">Registrarse</a></button>
            </div>
            <div>
                <p class="p4">Ya tenés una cuenta? <a href="/login">Iniciar sesion</a></p>
            </div>

        </form>

    </main>

    <%- include("../partials/footer")%>
    
</body>

</html>