<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
<body>

    <%- include("../partials/header")%>

    <section class="all-products">
        <h1>vista de productos</h1>
    </section>
    

    <%- include("../partials/footer")%>
    
</body>
</html>