<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <!-- Header -->
    </header>

    <main class="main-container">

        <figure class="main-banner">
            <img src="/images/banner-home.webp" alt="">
        </figure>

        <section class="products-offers">

            <h2 class="main-tittle">Aprovecha las mejores bebidas</h2>

            <div class="article-tittle">
                <h4>Vinos - Hasta 45% off</h4>
                <a href="#">Ver más</a>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/D.V._Catena_Cabernet_-_Malbec.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$7400</p>
                        <ul>
                            <li class="price-actual">$4810</li>
                            <li class="discount">35% OFF</li>
                        </ul>
                        <h5>Dv Catena Cabernet Malbec 750ml</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/Angelica_Zapata_Malbec_Alta_750cc.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$23999</p>
                        <ul>
                            <li class="price-actual">$15999</li>
                            <li class="discount">33% OFF</li>
                        </ul>
                        <h5>Angelina Zapata Malbec Alta 750ml</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Tinto_Luigi_Bosca_Malbec_750ml.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$7463</p>
                        <ul>
                            <li class="price-actual">$4179</li>
                            <li class="discount">44% OFF</li>
                        </ul>
                        <h5>Tinto Luigi Bosca Malbec 750ml</h5>
                    </div>
                </article>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/D.V._Catena_Cabernet_-_Malbec.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$7400</p>
                        <ul>
                            <li class="price-actual">$4810</li>
                            <li class="discount">35% OFF</li>
                        </ul>
                        <h5>Dv Catena Cabernet Malbec 750ml</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/Angelica_Zapata_Malbec_Alta_750cc.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$23999</p>
                        <ul>
                            <li class="price-actual">$15999</li>
                            <li class="discount">33% OFF</li>
                        </ul>
                        <h5>Angelina Zapata Malbec Alta 750ml</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Tinto_Luigi_Bosca_Malbec_750ml.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$7463</p>
                        <ul>
                            <li class="price-actual">$4179</li>
                            <li class="discount">44% OFF</li>
                        </ul>
                        <h5>Tinto Luigi Bosca Malbec 750ml</h5>
                    </div>
                </article>
            </div>


            <div class="article-tittle">
                <h4>Espumantes - Hasta 50% off</h4>
                <a href="#">Ver más</a>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/Sidra_Real_750.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$12999</p>
                        <ul>
                            <li class="price-actual">$6499</li>
                            <li class="discount">50% OFF</li>
                        </ul>
                        <h5>Sidra Real 720 X Caja de 6</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/anana_fizz_real.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$4999</p>
                        <ul>
                            <li class="price-actual">$2499</li>
                            <li class="discount">50% OFF</li>
                        </ul>
                        <h5>Anana Fizz Real</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Norton_Extra_Brut.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$2637</p>
                        <ul>
                            <li class="price-actual">$2555</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Champagne Norton extra brut 750ml</h5>
                    </div>
                </article>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/Sidra_Real_750.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$12999</p>
                        <ul>
                            <li class="price-actual">$6499</li>
                            <li class="discount">50% OFF</li>
                        </ul>
                        <h5>Sidra Real 720 X Caja de 6</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/anana_fizz_real.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$4999</p>
                        <ul>
                            <li class="price-actual">$2499</li>
                            <li class="discount">50% OFF</li>
                        </ul>
                        <h5>Anana Fizz Real</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Norton_Extra_Brut.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$2637</p>
                        <ul>
                            <li class="price-actual">$2555</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Champagne Norton extra brut 750ml</h5>
                    </div>
                </article>
            </div>

            <div class="article-tittle">
                <h4>Whiskys - Hasta 35% off</h4>
                <a href="#">Ver más</a>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/Johnnie_Walker_Swing_Escoces_Blended_750ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$65288</p>
                        <ul>
                            <li class="price-actual">$48313</li>
                            <li class="discount">26% OFF</li>
                        </ul>
                        <h5>Johnnie Walker Swing Escoces Blended 750ml</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/White_Horse_Fine_Old_Blended_Scotch.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$5760</p>
                        <ul>
                            <li class="price-actual">$4509</li>
                            <li class="discount">21% OFF</li>
                        </ul>
                        <h5>White Horse Fine Old Blended</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Whisky_Ballantines_Finest_Blended_Scotch_700ml.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$11200</p>
                        <ul>
                            <li class="price-actual">$10640</li>
                            <li class="discount">5% OFF</li>
                        </ul>
                        <h5>Ballantines Finest Blended Scotch</h5>
                    </div>
                </article>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/Johnnie_Walker_Swing_Escoces_Blended_750ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$65288</p>
                        <ul>
                            <li class="price-actual">$48313</li>
                            <li class="discount">26% OFF</li>
                        </ul>
                        <h5>Johnnie Walker Swing Escoces Blended 750ml</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/White_Horse_Fine_Old_Blended_Scotch.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$5760</p>
                        <ul>
                            <li class="price-actual">$4509</li>
                            <li class="discount">21% OFF</li>
                        </ul>
                        <h5>White Horse Fine Old Blended</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Whisky_Ballantines_Finest_Blended_Scotch_700ml.webp" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$11200</p>
                        <ul>
                            <li class="price-actual">$10640</li>
                            <li class="discount">5% OFF</li>
                        </ul>
                        <h5>Ballantines Finest Blended Scotch</h5>
                    </div>
                </article>
            </div>

            <div class="article-tittle">
                <h4>Licores - Hasta 25% off</h4>
                <a href="#">Ver más</a>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/Licor_Borghetti_Cafe_700ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$13700</p>
                        <ul>
                            <li class="price-actual">$12330</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Borghetti Cafe 700ml</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/Licor_Tres_Plumas_Triple_Sec_Naranjas_Curacao_700ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$3999</p>
                        <ul>
                            <li class="price-actual">$2925</li>
                            <li class="discount">25% OFF</li>
                        </ul>
                        <h5>Tres Plumas Naranjas Curacao</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Licor_Wild_Africa_Cream_750ml_Bebida_Caramelo_Y_Crema.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$21930</p>
                        <ul>
                            <li class="price-actual">$19710</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Wild Africa Cream 750ml</h5>
                    </div>
                </article>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/Licor_Borghetti_Cafe_700ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$13700</p>
                        <ul>
                            <li class="price-actual">$12330</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Borghetti Cafe 700ml</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/Licor_Tres_Plumas_Triple_Sec_Naranjas_Curacao_700ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$3999</p>
                        <ul>
                            <li class="price-actual">$2925</li>
                            <li class="discount">25% OFF</li>
                        </ul>
                        <h5>Tres Plumas Naranjas Curacao</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Licor_Wild_Africa_Cream_750ml_Bebida_Caramelo_Y_Crema.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$21930</p>
                        <ul>
                            <li class="price-actual">$19710</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Wild Africa Cream 750ml</h5>
                    </div>
                </article>
            </div>


            <div class="article-tittle">
                <h4>Otros - Hasta 30% off</h4>
                <a href="#">Ver más</a>
            </div>

            <div class="products">
                <article class="product-1">
                    <figure>
                        <img src="/images/Meet_HardSeltzer_Aromas_Naturales_310ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$11199</p>
                        <ul>
                            <li class="price-actual">$9990</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Meet Lima HardSeltzer 310ml</h5>
                    </div>
                </article>
                <article class="product-2">
                    <figure>
                        <img src="/images/mingo_pomelo_750ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$10000</p>
                        <ul>
                            <li class="price-actual">$9000</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Mingo Pomelo 750ml</h5>
                    </div>
                </article>
                <article class="product-3">
                    <figure>
                        <img src="/images/Dr-Lemon-con-Vodka-Pomelo.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$6000</p>
                        <ul>
                            <li class="price-actual">$4200</li>
                            <li class="discount">30% OFF</li>
                        </ul>
                        <h5>Dr Lemon Vodka Pomelo XL</h5>
                    </div>
                </article>
            </div>
        </section>
        <section class="popular-products">
            <h3>¡Comprá nuestros productos con descuento y recibilos hoy mismo!</h3>
            <h2>LOS MAS POPULARES</h2>
            <div class="products">
                <article class="product-1 popular">
                    <figure>
                        <img src="/images/Meet_HardSeltzer_Aromas_Naturales_310ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$11199</p>
                        <ul>
                            <li class="price-actual">$9990</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Meet Lima HardSeltzer 310ml</h5>
                    </div>
                    <img class="logo-popular" src="/images/popular.webp" alt="">
                </article>
                <article class="product-2 popular">
                    <figure>
                        <img src="/images/mingo_pomelo_750ml.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$10000</p>
                        <ul>
                            <li class="price-actual">$9000</li>
                            <li class="discount">10% OFF</li>
                        </ul>
                        <h5>Mingo Pomelo 750ml</h5>
                    </div>
                    <img class="logo-popular" src="/images/popular.webp" alt="">
                </article>
                <article class="product-3 popular">
                    <figure>
                        <img src="/images/Dr-Lemon-con-Vodka-Pomelo.png" alt="">
                    </figure>
                    <div class="product-details">
                        <p class="price-old">$6000</p>
                        <ul>
                            <li class="price-actual">$4200</li>
                            <li class="discount">30% OFF</li>
                        </ul>
                        <h5>Dr Lemon Vodka Pomelo XL</h5>
                    </div>
                    <img class="logo-popular" src="/images/popular.webp" alt="">
                </article>
            </div>
        </section>

        <div class="benefits-user">

            <div class="payment-methods">
                <figure>
                    <img src="/images/tarjeta.webp" alt="">
                </figure>
                <h2>Elegí cómo pagar</h2>
                <p>Podés pagar con tarjeta, débito, efectivo o
                    hasta en 12 cuotas sin interes.
                </p>
            </div>

            <hr>

            <div class="free-shipping">
                <figure>
                    <img src="/images/envio.webp" alt="">
                </figure>
                <h2>Envío gratis</h2>
                <p>Recuerda que su compra debe tener
                    un minimo de $15000 para este beneficio.
                </p>
            </div>

            <hr>

            <div class="safe-purchase">
                <figure>
                    <img src="/images/seguridad.webp" alt="">
                </figure>
                <h2>Seguridad siempre</h2>
                <p>¿Se arrepiente de su compra? ¡Devuelva su compra!
                    Nuestros clientes siempres estaran protegidos.
                </p>
            </div>
        </div>

    </main>


    <footer>
        <!--- Footer --->
    </footer>

    <!--- library --->

</body>

</html>