<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


    <header class="header">
        <div class="headerTop">
            <div class="logo">
                <a href="/"> <img src="/images/logo-luxuryDrinks2.webp" alt="Logo">
                </a>            
            </div>

            <div class="search">
                <input class="busqueda" type="text" placeholder="Buscar Productos, marcas y más">
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <div class="logreg">
                <button class="ing" type="button"><a href="/login">Ingresa</a> </button>
                <button class="reg" type="button"><a href="/register">Registrarse</a></button>
            </div>
        </div>
        <div class="headerBot">
            <nav class="navheader">
                <ul class="navheader-ul">
                    <li class="navli"><a href=""></a>VINOS</li>
                    <li class="navli"><a href=""></a>ESPUMANTES</li>
                    <li class="navli"><a href=""></a>WHISKIES</li>
                    <li class="navli"><a href=""></a>LICORES</li>
                    <li class="navli"><a href=""></a>APERITIVOS</li>
                    <li class="navli"><a href=""></a>OFERTAS</li>
                    <li class="navli"><a href=""></a>OTROS</li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>    

        <main class="login-inicio">
            <h1 class="login-titulo"> Iniciar sesion</h1>
            <form action="/login" method="post">

                <div class="login-email">
                    <label class="login-email1" for="email">Email:</label>
                    <input class="login-email2" type="email" name="email" id="email" placeholder="email">
                </div>

                <div class="login-contraseña">
                    <label class="login-contraseña1" for="password">contraseña:</label>
                    <input class="login-contraseña2" type="password" name="contraseña" id="password" placeholder="contraseña">
                </div>

                <button class="login-ingresar" type="submit"><a href="/">Ingresar</a></button>

                <p id="login-cuenta">No tienes una cuenta?  <a href="/register"> Registrarse</a> </p>
            


            </form>


        </main>

    <footer  class="home-footer">
        <figure>
            <img src="/images/Logo-footer.png" alt="Logo-footer">
        </figure>
        <nav class="links-footer">
            <ul type="none" class="footer-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="https://www.gba.gob.ar/Politicasdeprivacidad">Politicas de Privacidad</a></li>
            </ul>
        </nav>
        <div class="links-contacto">
            <ul type="none" class="footer-p">
                <li>
                    <p>1202020202</p>
                </li>
                <li>
                    <p>info@LuxuryDrik.com</p>
                </li>
                <li>
                    <p>Calle 123 Palermo Capital</p>
                </li>
                <li>
                    <p>Federal</p>
                </li>
            </ul>

            <nav class="links-footer-contacto">
                <div class="div-footer">
                    <p>¿Hablamos?</p>
                </div>
                <ul type="none" class="footer-links">
                    <li><a href="https://www.whatsapp.com/?lang=es_LA"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i> </a></li>
                </ul>
            </nav>

        </div>
        <p class="copy">Copyright 2023 © Luxury Drinks</p>


    </footer>

</body>

</html>