<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <section>
            <h1>Mi Carrito de Compras (4)</h1>
            <article>
                <img src="/images/Anana_Fizz_Real.webp" alt="">
                <h5>Nombre del Producto</h5>
                <p>Stock 5</p>
                <p>-1+ trash</p>
                <p>$20000</p>
            </article>
            <article>
                <img src="/images/Anana_Fizz_Real.webp" alt="">
                <h5>Nombre del Producto</h5>
                <p>Stock 5</p>
                <p>-1+ trash</p>
                <p>$20000</p>
            </article>
            <article>
                <img src="/images/Anana_Fizz_Real.webp" alt="">
                <h5>Nombre del Producto</h5>
                <p>Stock 5</p>
                <p>-1+ trash</p>
                <p>$20000</p>
            </article>
            <article>
                <img src="/images/Anana_Fizz_Real.webp" alt="">
                <h5>Nombre del Producto</h5>
                <p>Stock 5</p>
                <p>-1+ trash</p>
                <p>$20000</p>
            </article>
            <article>
                <img src="/images/Anana_Fizz_Real.webp" alt="">
                <h5>Nombre del Producto</h5>
                <p>Stock 5</p>
                <p>-1+ trash</p>
                <p>$20000</p>
            </article>
        </section>
        <aside>
            <div>
                <h6>Producto Nombre 1</h6>
                <h6>Producto Nombre 1</h6>
                <h6>Producto Nombre 1</h6>
            </div>
            <p>Total a Pagar: $20000</p>
            <div>
                <Button>Comprar</Button>
                <span>Or</span>
                <button>Comprar con Tarjeta</button>
            </div>
        </aside>
    </main>
</body>

</html>