<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles de Producto</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="header">
    <div class="headerTop">
        <div class="logo">
            <a href="/"> <img src="/images/logo-luxuryDrinks2.webp" alt="Logo">
            </a>
        </div>

        <div class="search">
            <input class="busqueda" type="text" placeholder="Buscar Productos, marcas y más">
            <div class="lupa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="carrito">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

        <div class="logreg">
            <button class="ing" type="button"><a href="/iniciar-sesion">Ingresa</a> </button>
            <button class="reg" type="button"><a href="/registrarse">Registrarse</a></button>
        </div>
    </div>
    <div class="headerBot">
        <nav class="navheader">
            <ul class="navheader-ul">
                <li class="navli"><a href=""></a>VINOS</li>
                <li class="navli"><a href=""></a>ESPUMANTES</li>
                <li class="navli"><a href=""></a>WHISKIES</li>
                <li class="navli"><a href=""></a>LICORES</li>
                <li class="navli"><a href=""></a>APERITIVOS</li>
                <li class="navli"><a href=""></a>OFERTAS</li>
                <li class="navli"><a href=""></a>OTROS</li>
            </ul>
        </nav>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>

  <main class="product-detail">
    <h2 class="h6 p-4">Ballentine´s scotch Whisky Escoces</h2>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="height: 250px;">
        <div class="carousel-item active h-100">
          <img src="/images/Whisky_Ballantines_Finest_Blended_Scotch_700ml.webp" class="d-block w-100 h-100" alt="..."
            style="object-fit: contain;">
        </div>
        <div class="carousel-item h-100">
          <img src="/images/BALLENTINES.jpeg" class="d-block w-100 h-100" alt="..." style="object-fit: contain;">
        </div>
        <div class="carousel-item h-100">
          <img src="/images/ballentines2.jpg" class="d-block w-100 h-100" alt="..." style="object-fit: contain;">
        </div>
      </div>
      <button class="carousel-control-prev" class="poi-custom-rounder" type="button"
        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" class="poi-custom-rounder" type="button"
        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="card-custom">
      <div class="card-body">
        <p class="card-text">Envios A todo el pais</p>
        <p class="card-text">Cantidad disponible: x20 </p>
        <p class="card-text">Sin impuestos, Ni retenciones</p>
        <a href="/Carrito" class="btn btn-dark ">Agregar a Carrito</a>
      </div>
    </div>

    <div class="produc-Precio ">
      <p class="m-0">$20.000</p>
      <p class="m-0">En 4x $5.000</p>
      <p class="m-0">ver los medios de pago</p>
      <div><a href="/Carrito">Agregar a carrito</a></div>
    </div>

    <div class="caracteristicas-product ">
      <h5>Caracteristas</h5>

      <ul>
        <li>Whisky Ballantine´s 700ml</li>
        <li>Incluye estuche</li>
        <li>Graduacion alcoholica del 40%</li>
        <li>Botella de vidrio, conserva mejor el sabor</li>
      </ul>

    </div>

    <h3>Productos similares</h3>
    <div class="Productos-similares" style="height: 192px;">

      <section class="Products-similares-1 ">
        <figure class="figure-product" style="height: 100px;">
          <img src="/images/White_Horse_Fine_Old_Blended_Scotch.webp" class="w-100 h-100 " style="object-fit: contain;"
            alt="">
        </figure>
        <p class="m-0">White Horse Fine </p>
      </section>

      <section class="Products-similares">
        <figure class="figure-product" style="height: 100px;">
          <img src="/images/Johnnie_Walker_Swing_Escoces_Blended_750ml.png" class="w-100 h-100"
            style="object-fit: contain;" alt="">
        </figure>
        <p class="m-0">Johnnie Walker Escoces </p>
      </section>

      <section class="Products-similares-3 ">
        <figure class="figure-product" style="height: 100px;">
          <img src="/images/Champagne_Norton_extra_brut_750ml.webp" class="w-100 h-100" style="object-fit: contain;"
            alt="">
        </figure>
        <p class="m-0">Champagne Norton </p>
      </section>

      <section class="Products-similares-4">
        <figure class="figure-product" style="height: 100px;">
          <img src="/images/Angelica_Zapata_Malbec_Alta_750cc.webp" class="w-100 h-100" style="object-fit: contain;"
            alt="">
        </figure>
        <p class="m-0">Malbec Angelica</p>
      </section>



    </div>

  </main>

  <footer class="home-footer">

    <figure>
      <img src="/images/Logo-footer.png" alt="Logo-footer">
    </figure>
    <nav class="links-footer">
      <ul type="none" class="footer-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Productos</a></li>
        <li><a href="https://www.gba.gob.ar/Politicasdeprivacidad">Politicas de Privacidad</a></li>
      </ul>
    </nav>
    <div class="links-contacto">
      <ul type="none" class="footer-p">
        <li>
          <p>1202020202</p>
        </li>
        <li>
          <p>info@LuxuryDrik.com</p>
        </li>
        <li>
          <p>Calle 123 Palermo Capital</p>
        </li>
        <li>
          <p>Federal</p>
        </li>
      </ul>

      <nav class="links-footer-contacto">
        <div class="div-footer">
          <p>¿Hablamos?</p>
        </div>
        <ul type="none" class="footer-links">
          <li><a href="https://www.whatsapp.com/?lang=es_LA"><i class="fa-brands fa-whatsapp"></i></a></li>
          <li><a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href=""><i class="fa-solid fa-envelope"></i> </a></li>
        </ul>
      </nav>

    </div>
    <p class="copy">Copyright 2023 © Luxury Drinks</p>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>