:root{
--poppins:"Poppins", "sans sefir";


--negro:#191717;
--gris:#7D7C7C;
--letrasHeader:#CCC8AA;
--blancoClaro:#f1efef;
--grisSuave: #d9d9d9;


}

*{
    font-family: var(--poppins);
}
body{
    margin: 0;
}
ul{
    list-style: none;
    padding-left: 10px;
}