@media screen and (max-width: 425px) {

    .header {
        background-color: var(--negro);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 50%;
        /* display: grid; */
    }

    img {
    width: 100%;
    }

    .search {
        display: none;
    }

    input {
        display: none;
    }

    .lupa {
        display: none;
    }

    .carrito {
        display: none;
    }

    .logreg {
        display: none;
    }

    .navheader {
        display: none;
    }

    ul {
        display: none;
    }

    li {
        display: none;
    }

    a {
        display: none;
    }
    .burger-menu{
        background-color: var(--negro);
        max-width: 46px;
        padding: 7px 12px;
        font-size: 25px;
        border: 1px solid var(--letrasHeader);
        margin-right: 20px;
        }
        .burger-menu i{
            color: var(--letrasHeader)
        }
}

@media screen and (min-width:768px) {
    .header {
        background-color: var(--negro);
    }

    .logo {margin: auto;}

    img {margin: auto;}

    .search {margin: auto;}

    input {margin: auto;}

    .lupa {margin: auto;}

    .carrito {margin: auto;}

    .logreg {margin: auto;}

    .navheader {margin: auto;}


    ul {margin: auto;}

    li {margin: auto;}

    a {margin: auto;}
}

@media screen and (min-width: 1024px) {
    .header {
        background-color: var(--negro);
    }

    .logo {
        display: inline-block;
    }

    img {margin: auto;}

    .search {
        display: inline-block;
        position: relative;
    }

    input {
        position: absolute;
    }

    .lupa {
        position: absolute;
    }

    .carrito {
        display: inline-block;
        color: var(--letrasHeader);
    }

    .logreg {
        color: var(--letrasHeader);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .navheader {
        color: var(--letrasHeader);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }


    ul {
        display: flex;
    }

    li {
        margin: 15px;
        font-size: 20px;
    }

    a {
        margin: auto;
    }

}