

main.product-detail{}

main.product-detail div.produc-Precio{}

main.product-detail div.produc-Precio p{}

main.product-detail div.produc-Precio p.pago{}

main.product-detail div.caracteristicas-product{}

main.product-detail div.caracteristicas-product h5{}

main.product-detail div.caracteristicas-product ul{}

main.product-detail div.caracteristicas-product ul li{}

main.product-detail div.Productos-similares{
    display: flex;
}

main.product-detail div.Productos-similares h3{}

main.product-detail div.Productos-similares section.Products-similares{
    display: flex;
}

main.product-detail div.Productos-similares section.Products-similares figure{
    display: flex;
    width: 150px;
}

main.product-detail div.Productos-similares section.Products-similares figure img{
    display: flex;
    width: 100%;
}

main.product-detail div.Productos-similares section.Products-similares p{}




@media (min-width:426px){

.carousel-indicators .poi-custom-rounder{
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

main.product-detail{}

main.product-detail div.produc-Precio{}

main.product-detail div.produc-Precio p{}

main.product-detail div.produc-Precio p.pago{}

main.product-detail div.caracteristicas-product{}

main.product-detail div.caracteristicas-product h5{}

main.product-detail div.caracteristicas-product ul{}

main.product-detail div.caracteristicas-product ul li{}

main.product-detail div.Productos-similares h3{}

main.product-detail div.Productos-similares section.Products-similares{}

main.product-detail div.Productos-similares section.Products-similares figure{}

main.product-detail div.Productos-similares section.Products-similares figure img{}

main.product-detail div.Productos-similares section.Products-similares p{} 


}


@media (min-width:769px){

    .carousel-indicators .poi-custom-rounder{
        height: 5px;
        width: 5px;
        border-radius: 50%;
    }
    
    main.product-detail{}
    
    main.product-detail div.produc-Precio{}
    
    main.product-detail div.produc-Precio p{}
    
    main.product-detail div.produc-Precio p.pago{}
    
    main.product-detail div.caracteristicas-product{}
    
    main.product-detail div.caracteristicas-product h5{}
    
    main.product-detail div.caracteristicas-product ul{}
    
    main.product-detail div.caracteristicas-product ul li{}
    
    main.product-detail div.Productos-similares h3{}
    
    main.product-detail div.Productos-similares section.Products-similares{}
    
    main.product-detail div.Productos-similares section.Products-similares figure{}
    
    main.product-detail div.Productos-similares section.Products-similares figure img{}
    
    main.product-detail div.Productos-similares section.Products-similares p{} 
    
    
    }
    
